h1.ui.header = title [t('answers/title'), truncate(@question.title), truncate(@answer.text)]

= render 'form'

=> link_to 'Show', [@question, @answer]
'|
=< link_to 'Back', question_path(@answer.question)

